<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998638980301-a94a5gduegrsrr8vhc5kri5tas1aq52k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998638980301-a94a5gduegrsrr8vhc5kri5tas1aq52k</string>
	<key>API_KEY</key>
	<string>AIzaSyCBZOMKQmwWRL7G5d5N99_IFz_H58eK2xw</string>
	<key>GCM_SENDER_ID</key>
	<string>998638980301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Persausive-Technologies.MADS-Flytbase-Asgn</string>
	<key>PROJECT_ID</key>
	<string>peachy-a8330</string>
	<key>STORAGE_BUCKET</key>
	<string>peachy-a8330.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998638980301:ios:be663291c67cc129beed84</string>
	<key>DATABASE_URL</key>
	<string>https://peachy-a8330.firebaseio.com</string>
</dict>
</plist>